body{
    background-color: dimgrey;
}
a {
    text-align: center;
    font-family: 'Oswald';
    font-size: 75px;
    padding: 20px;
    color: aliceblue;
}

p{
    text-align: center;
    font-family: 'Oswald';
    color: aliceblue;
    background-color: #3071A9;
    font-size: 40px;
}
.navbar{
    text-align: center;
}
/* needs edits */
button {
    background: #3071A9;
    color: #fff;
    font-size: 75px;
    height: auto;
    width: auto;
    line-height: 60px;
    margin: 25px 25px;
    text-align: center;
    border: 0;
    transition: all 0.3s ease 0s;
}

button:hover {
  background: dimgrey;
}
